

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:
  "SF Pro Display",
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
  background:#fff;
  color:#111;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  overflow-x:hidden;
}


/* CURSOR */
.cursor-img {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.08s linear;
  z-index: 9999;
}

.cursor-img img {
  width: auto;
  height: 60px;
  display: block;
  transform: translateY(40px) rotate(-20deg);
}

#hair-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9998;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  display: none;
}
/* Firefox */
html, body {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE/Edge antiguos */
}


#hair-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9998;
}

.hair {
  position: absolute;
  border-radius: 2px;
  animation: fadeOut 0.5s ease forwards;
  pointer-events: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translateY(-20px) scale(0.5) rotate(120deg);
  }
}


/* NAVBAR */
.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 20px 6vw;
  z-index:1000;
  backdrop-filter:blur(10px);
  background:
  rgba(255,255,255,.5);
}

.logo{
  width: 150px;
  transition: opacity 1s ease;
}

.logo:hover{
  opacity:.4;
}

.logo-mask img {
  width: 120px;
  display: block;
  opacity: 0;
  transform: translateY(10px);
}

/* animación lujo */
.logo.animate .logo-mask img {
  animation: logoLuxuryIn 3s ease forwards;
}

@keyframes logoLuxuryIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav{
  display:flex;
  gap:42px;
}

.nav a{
  color: black;
  opacity:.6;
  text-decoration:none;
  font-size:14px;
  transition:.35s;
}

.nav a:hover{
  opacity:.4;
}

.nav a.active {
  opacity: 1;
  color: black;
}

.menu-btn{
  display:none;
}

/* SWITCH LANGUAGE*/

.lang-switch {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  font-family: inherit;
}

/* botones */
.lang-switch button {
  background: transparent;
  border: none;
  color: black;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  opacity:.6;
  transition: all 0.25s ease;
  position: relative;
}

/* hover */
.lang-switch button:hover {
  opacity: .4;
  color: black;
}

/* estado activo */
.lang-switch button.active {
  color: black;
  opacity: 1;
}

/* separador */
.lang-switch span {
  color:#111;
  font-size: 12px;
}


/* HERO */
.hero{
  min-height: 100vh;
  align-items: center;
  padding: 140px 6vw 120px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}


.hero-video{
  position: relative;
  width: 70vw;
  height: 70vh;   
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0 40px 120px rgba(0,0,0,.12);
}

.hero-video video{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  opacity: .8;
}

.hero-overlay{
  position:absolute;
  inset:0;
  background:
  linear-gradient(
  to top,
  rgba(0,0,0,.90),
  transparent
  );
}

.hero-content{
  margin-top:70px;
  width: 70vw;
}

.eyebrow{
  font-size:12px;
  letter-spacing:2px;
  color:#777;
  margin-bottom:18px;
}

.hero h1{
  font-size: clamp(42px,6vw,90px);
  line-height:.9;
  letter-spacing:-2px;
  margin-bottom:28px;
}

.hero-description{
  color:#555;
  font-size:20px;
  line-height:1.7;
  max-width:720px;
}


/* SECTIONS */
section{
  padding:
  140px 6vw;
}

.section-heading{
  margin-bottom:80px;
}

.section-label{
  color:#888;
  letter-spacing:2px;
  font-size:12px;
  margin-bottom:18px;
}

.section-heading h2{
  font-size:
  clamp(42px,6vw,90px);
  line-height:1;
  letter-spacing:-2px;
}

/* PRODUCTS */

.products-grid{
  display:grid;
  grid-template-columns:
  repeat(2,1fr);
  gap:40px;
  width: 70vw;
  justify-self: center;
}

.product-card{
  transition:
  transform .6s cubic-bezier(.22,1,.36,1),
  box-shadow .6s;
  cursor:pointer;
}

.product-card:hover{
  transform:
  translateY(-12px);
  opacity: 0.8;
}

.product-card img{
  width:100%;
  display:block;
  border-radius:32px;
}

.product-info{
  padding-top:20px;
}

.product-info h3{
  font-size:22px;
  margin-bottom:8px;
}

.product-info p{
  color:#777;
}

/* TEXT */
.text-block{
  max-width:900px;
}

.text-block p,
.text-block li{
  color:#555;
  line-height:2;
  margin-bottom:26px;
  font-size:18px;
}

.text-block h3{
  margin-top:50px;
  margin-bottom:18px;
  font-size:30px;
}

/* CONTACT */
.contact-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:80px;
  align-items: stretch;
}

.contact-title{
  font-size:18px;
  margin-bottom:18px;
}

.contact-text{
  color:#666;
  line-height:2;
}

/* MAPA CONTACTO */


.contact-info{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.map-container{
  width:100%;
  min-height:420px;
  border-radius:32px;
  overflow:hidden;
  box-shadow:
  0 20px 60px rgba(0,0,0,.08);
}

.map-container iframe{
  width:100%;
  height:100%;
  border:0;
  filter: grayscale(100%) contrast(1.1);
}

/* MOBILE */
@media(max-width:900px){

  .map-container{
    min-height:300px;
  }

}


/* FOOTER */
.footer{
  padding:
  120px 6vw
  50px;
  border-top:
  1px solid rgba(0,0,0,.08);
}

.footer-top{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
}

.footer h3{
  font-size:30px;
  margin-bottom:16px;
}

.footer p{
  color:#777;
  line-height:1.8;
}

.footer-links{
  display:flex;
  gap:30px;
}

.footer-links a{
  text-decoration:none;
  color:#111;
  transition:.3s;
}

.footer-links a:hover{
  opacity:.4;
}

.footer-bottom{
  margin-top:80px;
  padding-top:30px;
  border-top:
  1px solid rgba(0,0,0,.08);
  color:#888;
}

/* FLOAT BUTTON */
#topBtn{
  position:fixed;
  right:30px;
  bottom:30px;
  width:52px;
  height:52px;
  border:none;
  border-radius:50%;
  background:#111;
  color:#fff;
  font-size:18px;
  cursor:pointer;
  opacity:0;
  visibility:hidden;
  transition:.4s;
}

#topBtn.show{
  opacity:1;
  visibility:visible;
  animation: pulse 2s infinite;
}

@keyframes pulse{
  0%{
    transform: scale(1);
  }
  70%{
    transform: scale(1.08);
  }
  100%{
    transform: scale(1);
  }
}

#topBtn:hover{
  transform:
  translateY(-12px);
  opacity: 0.8;
}



/* REVEAL */
.reveal{
  opacity:0;
  transform:translateY(80px);
  transition:
  1.4s cubic-bezier(.22,1,.36,1);
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}

/* MOBILE */
@media(max-width:900px){

  .nav{
    display:none;
  }

  .menu-btn{
    display:block;
  }

  .products-grid{
    grid-template-columns:1fr;
  }

  .contact-grid{
    grid-template-columns:1fr;
  }

  .footer-top{
    flex-direction:column;
    gap:40px;
  }

  .hero-video{
  width: 100%;
  height: 70vh;   
}

.products-grid{
  width: 100%;
  justify-self: center;
}

.hero-content{
  width: 100%;
}

.hero-description{
    font-size:18px;
  }

.cursor-img img {
  width: 0px;
  height: 0px;
  color: transparent;
}


}